/* General attributes */
html {
	font-size: 62.5%;
	background-color: #f8f8f8;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

#map {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}
/* Header styles */

header {
	margin: 1rem 0;
	position: absolute;
	z-index: 10;
	left: 50%;
	transform: translateX(-50%);
}

header div.fadeIn {
	-webkit-animation: fadeIn 0.2s linear;
	animation: fadeIn 0.2s linear;
}
header div.fadeOut {
	-webkit-animation: fadeOut 0.2s linear;
	animation: fadeOut 0.2s linear;
}

header div.headerButtons {
	display: flex;
}

/* Button styles */
header div.headerButtons button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
	font-weight: bold;
	color: #f8f8f8;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #d54c4c;
	border: none;
	border-radius: 50px;
	padding: 7px 15px;
	margin-right: 7px;
}

header div.headerButtons button:hover {
	background-color: #df7575;
	transition: 0.5s background-color;
}

header div.headerButtons button:disabled,
button[disabled] {
	opacity: 0.65;
	cursor: not-allowed;
}

header div.headerButtons button svg.buttonIcon {
	width: 2rem;
	height: 2rem;
	fill: #f8f8f8;
	margin-right: 0.5em;
}

header div.headerButtons button span {
	margin-top: 3px;
}

/* Modal styles */
header div.changeFriendsLocationModal {
	display: none;
	/* position: fixed; */
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

header div.changeFriendsLocationModal div.modalDialog {
	position: relative;
	width: auto;
	max-width: 400px;
	margin: 30px auto;
}

header div.changeFriendsLocationModal div.modalDialog div.modalContent {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	background-color: #f8f8f8;
}

/* Header of the modal styles */
header
	div.changeFriendsLocationModal
	div.modalDialog
	div.modalContent
	div.modalHeader {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1.5rem;
	border-bottom: 1px solid #e9ecef;
}

header
	div.changeFriendsLocationModal
	div.modalDialog
	div.modalContent
	div.modalHeader
	h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}

header
	div.changeFriendsLocationModal
	div.modalDialog
	div.modalContent
	div.modalHeader
	span.closeButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
	color: #0a0a0a;
	float: right;
	line-height: 1;
	opacity: 0.75;
}

header
	div.changeFriendsLocationModal
	div.modalDialog
	div.modalContent
	div.modalHeader
	span.closeButton:hover,
header
	div.changeFriendsLocationModal
	div.modalDialog
	div.modalContent
	div.modalHeader
	span.closeButton:focus {
	text-decoration: none;
	cursor: pointer;
	opacity: 1;
}

/* Body of the modal styles */
header
	div.changeFriendsLocationModal
	div.modalDialog
	div.modalContent
	.modalBody {
	position: relative;
	padding: 1.5rem;
}

header
	div.changeFriendsLocationModal
	div.modalDialog
	div.modalContent
	.modalBody
	div {
	background-color: #ffffff;
	padding: 15px;
	border-left: 8px solid #d54c4c;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Form of the modal styles (in the body) */
header
	div.changeFriendsLocationModal
	div.modalDialog
	div.modalContent
	.modalBody
	label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	color: #0a0a0a;
	margin-bottom: 3px;
	display: block;
}

header
	div.changeFriendsLocationModal
	div.modalDialog
	div.modalContent
	.modalBody
	select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	font-weight: normal;
	color: #0a0a0a;
	border: solid 2px #e5e5e5;
	padding: 0;
	background-color: #f8f8f8;
	width: 100%;
	color: #0a0a0a;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

header
	div.changeFriendsLocationModal
	div.modalDialog
	div.modalContent
	.modalBody
	button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
	font-weight: bold;
	color: #f8f8f8;
	cursor: pointer;
	background-color: #d54c4c;
	border: none;
	text-align: center;
	border-radius: 10px;
	padding: 7px 15px 5px;
	display: block;
	margin: 10px auto 0 auto;
}

header
	div.changeFriendsLocationModal
	div.modalDialog
	div.modalContent
	.modalBody
	button:hover {
	background-color: #df7575;
	transition: 0.5s background-color;
}

/* For FadeIn and FadeOut animations of the modal */
@-webkit-keyframes fadeIn {
	from {
		top: -50px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		top: -50px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@-webkit-keyframes fadeOut {
	from {
		top: 0;
		opacity: 1;
	}
	to {
		top: -50px;
		opacity: 0;
	}
}
@keyframes fadeOut {
	from {
		top: 0;
		opacity: 1;
	}
	to {
		top: -50px;
		opacity: 0;
	}
}
